body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    background-color: #2d9461;
    color: white;
    border: none;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: rgb(45, 109, 48);
}
new-client ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.new-client li {
    margin-bottom: 10px;
}
.new-client li:before {
    content: "⚫";
    margin-right: 10px;
}
.create-account-btn {
    background-color:#2d9461;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.create-account-btn:hover {
    background-color: rgb(45, 109, 48);
}